.rule1 {
  border-top: 1px solid #dcdcdc;
}

.rule2 {
  float: right;
  width: 23%;
  margin-left: 2%;
}

.rule3 {
  
}

.rule4 {
 
}

.rule5 {
  
}

.rule6 {

}

.rule7 {
 
}

.rule8 {
  list-style-type: none;
  padding: 0;
}

.rule9 {
 
}

.rule10 {
  width: 100%;
  clear: left;
}

.rule11 {
  padding: 1.5em 0;
}